<h1> Stocks Data for <%= params[:symbol] %> </h1>
<pre>
    <%= JSON.pretty_generate(@stock_data) %>
</pre>
<% if @stock %>
  <% if @trade && @trade.errors.any? %>
    <div class="errors">
      <h2>There were problems with your submission:</h2>
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with url: trades_path, method: :post, scope: :trade do |form| %>
    <%= form.hidden_field :stock_id, value: @stock.id %>
    <div>
      <%= form.label :trade_type, "Trade Type" %>
      <%= form.select :trade_type, options_for_select([['Buy', 'buy'], ['Sell', 'sell']]) %>
    </div>
    <div>
      <%= form.label :quantity, "Quantity" %>
      <%= form.number_field :quantity, min: 1 %>
    </div>
    <%= form.submit "Submit Trade" %>
  <% end %>
<% else %>
  <p>Stock not found in database.</p>
<% end %>
