<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.email %>!</h1>
  <p>Status: <%= current_user.status.capitalize %></p>
  <% if current_user.confirmed? %>
    <p>Email confirmed!</p>
  <% else %>
    <p>Please confirm your email address.</p>
  <% end %>
  <%= link_to "My Trades", trades_path %> |
  <%= link_to "Portfolio", portfolio_path %>
<% else %>
  <h1>Welcome to StockTrading App!</h1>
  <%= link_to "Sign In", new_user_session_path %> or
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
