<h1>Edit Trader</h1>
<%= form_with url: admin_trader_path(@trader), model: @trader, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, [["Pending", "pending"], ["Approved", "approved"]] %>
  </div>
  <div>
    <%= form.submit "Update Trader" %>
  </div>
<% end %>
