<h1> My Trades </h1>
<table>
  <thead>
    <tr>
      <th> Date </th>
      <th> Stock </th>
      <th> Type </th>
      <th> Quantity </th>
      <th> Price </th>
    </tr>
  </thead>
  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= trade.stock.symbol %></td>
        <td><%= trade.trade_type.capitalize %></td>
        <td><%= trade.quantity %></td>
        <td><%= number_to_currency(trade.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
