<h1>My Trades</h1>
<p>
  <%= link_to "All", trades_path %> |
  <%= link_to "Buys", trades_path(type: 'buy') %> |
  <%= link_to "Sells", trades_path(type: 'sell') %>
</p>
<h2>Summary</h2>
<ul>
  <li>Total Trades: <%= @trades.count %></li>
  <li>Total Shares Bought: <%= @total_buys %></li>
  <li>Total Shares Sold: <%= @total_sells %></li>
  <li>Total Spent: <%= number_to_currency(@total_spent) %></li>
  <li>Total Earned: <%= number_to_currency(@total_earned) %></li>
</ul>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Stock</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= trade.stock.symbol %></td>
        <td><%= trade.trade_type.capitalize %></td>
        <td><%= trade.quantity %></td>
        <td><%= number_to_currency(trade.price) %></td>
        <td><%= link_to "View", trade_path(trade) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
